@import url(default.css);
@import url(font.css);
@import url(common.css);

.tit_font {
    font-family: "TJJoyofsingingBTTF";
    font-weight: 700;
    line-height: 1.2;
}




/* ################ header css 해야함 / js도  ############## */



header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}
header .logo a {
    display: block;
    width: 155px;
    height: 38px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;

}

/* ######################### header에 fixed 클래스 추가 ######################## */

header.fixed {
    color: #1d1d1d;
    background-color: #fff;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);

}

@media screen and (min-width:1025px) { /*################## pc 버전 ################# */

    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }

    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* 2차 메뉴 depth2 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-family: "TJJoyofsingingBTTF";
        font-weight: 700;
        line-height: 1.2;
        font-size: 20px;
        padding: 0 22.5px;
        line-height: 100px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
        display: block;
        padding-right: 18px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        content: "";
        position: absolute;
        right: -5px;
        top: 45px;
        width: 15px;
        height: 8px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33711L13.5125 0.82461C13.7 0.63711 13.9187 0.546484 14.1687 0.552734C14.4187 0.558984 14.6375 0.655859 14.825 0.843359C15.0125 1.03086 15.1062 1.24961 15.1062 1.49961C15.1062 1.74961 15.0125 1.96836 14.825 2.15586L9.06871 7.93086C8.91871 8.08086 8.74996 8.19336 8.56246 8.26836C8.37496 8.34336 8.18746 8.38086 7.99996 8.38086C7.81246 8.38086 7.62496 8.34336 7.43746 8.26836C7.24996 8.19336 7.08121 8.08086 6.93121 7.93086L1.15621 2.15586C0.968711 1.96836 0.878086 1.74648 0.884336 1.49023C0.890586 1.23398 0.987461 1.01211 1.17496 0.82461C1.36246 0.63711 1.58121 0.54336 1.83121 0.54336C2.08121 0.54336 2.29996 0.63711 2.48746 0.82461L7.99996 6.33711Z' fill='white'/%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 84px;
        background-color: #20AFA1;
        color: #fff;
        border-radius: 30px;
        padding: 0 20px;
        display: none;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        white-space: nowrap; /* 줄바꿈 금지 */
        padding: 20px 20px 18px 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
        display: block;
        padding-right: 25px;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::before {
        content: "";
        position: absolute;
        right: 3px;
        top: 2px;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1420' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1420)'%3E%3Cpath d='M4.42296 17.0827C4.00199 17.0827 3.64567 16.9368 3.354 16.6452C3.06234 16.3535 2.9165 15.9972 2.9165 15.5762V4.42247C2.9165 4.0015 3.06234 3.64518 3.354 3.35352C3.64567 3.06185 4.00199 2.91602 4.42296 2.91602H9.67921V4.16602H4.42296C4.3588 4.16602 4.30005 4.19275 4.24671 4.24622C4.19324 4.29956 4.1665 4.35831 4.1665 4.42247V15.5762C4.1665 15.6404 4.19324 15.6991 4.24671 15.7525C4.30005 15.8059 4.3588 15.8327 4.42296 15.8327H15.5767C15.6409 15.8327 15.6996 15.8059 15.753 15.7525C15.8064 15.6991 15.8332 15.6404 15.8332 15.5762V10.32H17.0832V15.5762C17.0832 15.9972 16.9373 16.3535 16.6457 16.6452C16.354 16.9368 15.9977 17.0827 15.5767 17.0827H4.42296ZM8.09921 12.7781L7.22109 11.9L14.955 4.16602H11.6665V2.91602H17.0832V8.33268H15.8332V5.04414L8.09921 12.7781Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a > span {
        display: block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }


    header .util .search .search_open {
        display: block;
        width: 50px;
        height: 50px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_961' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_961)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    /* ###################### header fixed 클래스 추가 ##################### */

    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00021 6.33711L13.5127 0.82461C13.7002 0.63711 13.919 0.546484 14.169 0.552734C14.419 0.558984 14.6377 0.655859 14.8252 0.843359C15.0127 1.03086 15.1065 1.24961 15.1065 1.49961C15.1065 1.74961 15.0127 1.96836 14.8252 2.15586L9.06896 7.93086C8.91896 8.08086 8.75021 8.19336 8.56271 8.26836C8.37521 8.34336 8.18771 8.38086 8.00021 8.38086C7.81271 8.38086 7.62521 8.34336 7.43771 8.26836C7.25021 8.19336 7.08146 8.08086 6.93146 7.93086L1.15645 2.15586C0.968955 1.96836 0.87833 1.74648 0.88458 1.49023C0.89083 1.23398 0.987705 1.01211 1.1752 0.82461C1.3627 0.63711 1.58145 0.54336 1.83145 0.54336C2.08145 0.54336 2.3002 0.63711 2.4877 0.82461L8.00021 6.33711Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1168' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1168)'%3E%3Cpath d='M11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4688C19.2708 15.2812 18.875 16 18.375 16.625L25.375 23.625C25.6042 23.8542 25.7188 24.1458 25.7188 24.5C25.7188 24.8542 25.6042 25.1458 25.375 25.375C25.1458 25.6042 24.8542 25.7188 24.5 25.7188C24.1458 25.7188 23.8542 25.6042 23.625 25.375L16.625 18.375C16 18.875 15.2812 19.2708 14.4688 19.5625C13.6562 19.8542 12.7917 20 11.875 20ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
    }

    /* ###################### 메뉴에 오버했을 때 over 클래스 추가 ##################### */

    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #20AFA1;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.00021 2.66289L13.5127 8.17539C13.7002 8.36289 13.919 8.45352 14.169 8.44727C14.419 8.44102 14.6377 8.34414 14.8252 8.15664C15.0127 7.96914 15.1065 7.75039 15.1065 7.50039C15.1065 7.25039 15.0127 7.03164 14.8252 6.84414L9.06896 1.06914C8.91896 0.919141 8.75021 0.806641 8.56271 0.731641C8.37521 0.656641 8.18771 0.619141 8.00021 0.619141C7.81271 0.619141 7.62521 0.656641 7.43771 0.731641C7.25021 0.806641 7.08146 0.919141 6.93146 1.06914L1.15645 6.84414C0.968955 7.03164 0.87833 7.25352 0.88458 7.50977C0.89083 7.76602 0.987705 7.98789 1.1752 8.17539C1.3627 8.36289 1.58145 8.45664 1.83145 8.45664C2.08145 8.45664 2.3002 8.36289 2.4877 8.17539L8.00021 2.66289Z' fill='%2320AFA1'/%3E%3C/svg%3E%0A");
    }

    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex; /* li를 좌우로 배치 */
    }

} /* @media */


@media screen and (min-width:1025px) and (max-width:1280px) {  /* 1280~1025까지만 적용 */
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 18px;
        padding: 0 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        padding: 18px 15px 16px 15px;
    }
}


/* ###################### header 모바일과 pc 모바일 js 해야함!!!! ##################### */

@media screen and (max-width:1024px) { /* 모바일 */

}










.visual .swiper-slide {
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide .wrapper {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 140px 0;
}

.visual .swiper-slide p {
    font-size: 60px;
}

.visual .btn_wrap {
    position: absolute; /* swiper */
    left: 0;
    bottom: 30px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.visual .btn_wrap button {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
}

.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='20' viewBox='0 0 5 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1198' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='5' height='20'%3E%3Crect width='5' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1198)'%3E%3Cpath d='M1.13542 9.99626L4.19792 13.0588C4.30208 13.1629 4.35243 13.2845 4.34896 13.4233C4.34549 13.5622 4.29167 13.6838 4.1875 13.7879C4.08333 13.8921 3.96181 13.9442 3.82292 13.9442C3.68403 13.9442 3.5625 13.8921 3.45833 13.7879L0.25 10.59C0.166667 10.5067 0.104167 10.4129 0.0625 10.3088C0.0208333 10.2046 0 10.1004 0 9.99626C0 9.8921 0.0208333 9.78793 0.0625 9.68376C0.104167 9.5796 0.166667 9.48585 0.25 9.40251L3.45833 6.19418C3.5625 6.09001 3.68576 6.03966 3.82812 6.04314C3.97049 6.04661 4.09375 6.10043 4.19792 6.2046C4.30208 6.30876 4.35417 6.43029 4.35417 6.56918C4.35417 6.70807 4.30208 6.8296 4.19792 6.93376L1.13542 9.99626Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='20' viewBox='0 0 5 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1203' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='5' height='20'%3E%3Crect width='5' height='20' transform='matrix(-1 0 0 1 5 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1203)'%3E%3Cpath d='M3.86458 9.99626L0.802083 13.0588C0.697917 13.1629 0.64757 13.2845 0.651042 13.4233C0.654514 13.5622 0.708333 13.6838 0.8125 13.7879C0.916667 13.8921 1.03819 13.9442 1.17708 13.9442C1.31597 13.9442 1.4375 13.8921 1.54167 13.7879L4.75 10.59C4.83333 10.5067 4.89583 10.4129 4.9375 10.3088C4.97917 10.2046 5 10.1004 5 9.99626C5 9.8921 4.97917 9.78793 4.9375 9.68376C4.89583 9.5796 4.83333 9.48585 4.75 9.40251L1.54167 6.19418C1.4375 6.09001 1.31424 6.03966 1.17188 6.04314C1.02951 6.04661 0.90625 6.10043 0.802083 6.2046C0.697917 6.30876 0.645833 6.43029 0.645833 6.56918C0.645833 6.70807 0.697917 6.8296 0.802083 6.93376L3.86458 9.99626Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_1208' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_1208)'%3E%3Cpath d='M8 9.5C7.725 9.5 7.48958 9.40208 7.29375 9.20625C7.09792 9.01042 7 8.775 7 8.5V3.5C7 3.225 7.09792 2.98958 7.29375 2.79375C7.48958 2.59792 7.725 2.5 8 2.5C8.275 2.5 8.51042 2.59792 8.70625 2.79375C8.90208 2.98958 9 3.225 9 3.5V8.5C9 8.775 8.90208 9.01042 8.70625 9.20625C8.51042 9.40208 8.275 9.5 8 9.5ZM4 9.5C3.725 9.5 3.48958 9.40208 3.29375 9.20625C3.09792 9.01042 3 8.775 3 8.5V3.5C3 3.225 3.09792 2.98958 3.29375 2.79375C3.48958 2.59792 3.725 2.5 4 2.5C4.275 2.5 4.51042 2.59792 4.70625 2.79375C4.90208 2.98958 5 3.225 5 3.5V8.5C5 8.775 4.90208 9.01042 4.70625 9.20625C4.51042 9.40208 4.275 9.5 4 9.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; 
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_46_2012' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='12'%3E%3Crect width='12' height='12' transform='matrix(-1 0 0 1 12 0)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_46_2012)'%3E%3Cpath d='M8.8375 6.42461C8.9125 6.37461 8.96875 6.31211 9.00625 6.23711C9.04375 6.16211 9.0625 6.08294 9.0625 5.99961C9.0625 5.91628 9.04375 5.83711 9.00625 5.76211C8.96875 5.68711 8.9125 5.62461 8.8375 5.57461L4.7625 2.98711C4.72083 2.96211 4.67708 2.94336 4.63125 2.93086C4.58542 2.91836 4.54167 2.91211 4.5 2.91211C4.36667 2.91211 4.25 2.96003 4.15 3.05586C4.05 3.15169 4 3.27044 4 3.41211V8.58711C4 8.72878 4.05 8.84753 4.15 8.94336C4.25 9.03919 4.36667 9.08711 4.5 9.08711C4.54167 9.08711 4.58542 9.08086 4.63125 9.06836C4.67708 9.05586 4.72083 9.03711 4.7625 9.01211L8.8375 6.42461Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px) { 
    
    .visual .swiper-slide .wrapper {
        height: 750px; 
        padding: 0 0 120px 0;
    }
    
    .visual .swiper-slide p {
        font-size: 45px;
    }
}

@media screen and (max-width:768px) { 
    
    .visual .swiper-slide .wrapper { 
        height: 600px; 
        padding: 0 0 100px 0;
    }
    
    .visual .swiper-slide p { 
        font-size: 30px;
    }
    
    .visual .btn_wrap {
        bottom: 20px;
    }

}









footer {
    margin: 1000px 0 0 0;
}