@import url(../css/default.css);

body {
    position: relative;
    background: linear-gradient(-32deg, #ffffff 0%, #e1edfa 100%);
    background-repeat: no-repeat; 
}


/***************  header/footer  ****************/
header {
    margin-top: 40px;
}
header .wrap .top_link {
    display: flex;
    justify-content: flex-end;
}
header .wrap .top_link .home_btn {
    display: block;
    position: relative;
    max-height: 26px;
    margin-left: 18px;
    font-family: 'S-CoreDream';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.05em;
    color: #0c4da2;
    border: 1px solid #0c4da2;
    border-radius: 30px;
    padding: 10px 65px 9px 25px;
}
header .wrap .top_link .home_btn:after {
    display: block;
    position: absolute;
    right: 19px;
    top: 17px;
    width: 14px;
    height: 12px;
    background-image: url(../images/home_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}

header .wrap h2 {
    font-family: 'HakgyoansimJiugaeR';
    font-size: 44px;
    font-weight: 400;
    color: #0c4da2;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
}

footer {
    font-family: 'S-CoreDream';
    letter-spacing: 0;
    padding-bottom: 180px;
}
footer .footer_box .f_nav {
    position: relative;
    padding-bottom: 30px;
}
footer .footer_box .f_nav:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(68, 68, 68, 0.15);
}

footer .footer_box .f_nav ul {
    display: flex;
}
footer .footer_box .f_nav ul > li {
    position: relative;
    padding-right: 50px;
}
footer .footer_box .f_nav ul > li:after {
    display: block;
    position: absolute;
    top: 12px;
    right: 25px;
    width: 3px;
    height: 3px;
    background-color: rgba(68, 68, 68, 0.3);
    border-radius: 50%;
}
footer .footer_box .f_nav ul > li:last-child:after {
    display: none;
}

footer .footer_box .f_nav ul > li a {
    display: block;
}


footer .footer_box .f_info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
footer .footer_box .f_info .f_tel {
    padding: 28px 45px 23px 40px;
    background-color: rgba(68, 68, 68, 0.08);
    border-radius: 20px;
}
footer .footer_box .f_info .f_tel .tel_icon {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
footer .footer_box .f_info .f_tel .tel_icon:before {
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 21px;
    height: 22px;
    background-image: url(../images/tel_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}
footer .footer_box .f_info .f_tel .tel_bold {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 600;
    line-height: 0;
}
footer .footer_box .f_info .f_tel .tel_regular {
    display: inline-block;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
}

footer .footer_box .f_group .info_desc {
    word-break: keep-all;
}

footer .footer_box .f_group .info_add {
    font-size: 15px;
    margin: 7px 0;
}
footer .footer_box .f_group .copyright {
    font-size: 15px;
}

@media screen and (max-width:1200px) {
    footer .footer_box .f_info .f_tel {
        margin-left: 30px;
    }
}
@media screen and (max-width:800px) {
    header .wrap .top_link {
        justify-content: space-between;
    }
    header .wrap h2 {
        font-size: 40px;
        margin-top: 80px;
    }
    footer {
        padding: 15% 0 80px 0;
    }
    
    footer .footer_box .f_nav {
        padding-bottom: 20px;
    }
    footer .footer_box .f_nav ul {
        flex-wrap: wrap;
    }
    footer .footer_box .f_info {
        display: block;
    }
    footer .footer_box .f_nav ul>li a {
        font-size: 15px;
    }
    footer .footer_box .f_info .f_tel {
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:640px) {
    header .wrap h2 {
        font-size: 30px;
        margin-top: 60px;
    }
    footer {
        padding: 15% 0 50px 0;
    }
    footer .footer_box .f_info .f_tel {
        padding: 25px 35px;
    }
    footer .footer_box .f_info .f_tel .tel_regular {
        font-size: 20px;
    }

    footer .footer_box .f_group .info_desc {
        font-size: 15px;
    }
}

/************* container 시작 *************/
.login_user {
    display: block;
    position: relative;
    width: 100%;
    /* font-size: 0;
    line-height: 0; */
    box-sizing: border-box;
    margin-top: 30px;
}
.login_user .login_user_wrap {
    display: block;
    position: relative;
    width: 100%;
    min-height: 0;
    padding: 0 calc((100% - 805px) / 2) 110px; /* 검토  ?????? */
    /* font-size: 0;
    line-height: 0; */
    box-sizing: border-box;
}

.login_user .login_user_wrap .user_tab {
    display: flex;
    justify-content: center;
    position: relative;
    
}
.login_user .login_user_wrap .user_tab .user_tab_list {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    width: 804px;
}
.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn {
    display: block;
    position: relative;
    width: 100%;
    padding: 53px 0 18px 0;
    text-align: center;
}
.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn:before {
    display: block;
    position: absolute;
    bottom: -30px;
    left: -1px;
    width: 100%;
    height: 100%;
    background-color: #6a727e;
    border-width: 1px 1px 0 1px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    box-sizing: border-box;
    content: '';
    /* transition-property: height, background-color;
    transition-duration: 400ms;
    transition-timing-function: ease; */
}

.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn:before {
    background-color: #fff;
}

.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn .btn_text {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #fff;
    line-height: 1.5;
    font-weight: 600;
    font-family: 'S-CoreDream';
    vertical-align: top;
    /* transition-property: color;
    transition-duration: 400ms;
    transition-timing-function: ease; */
}
.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn .btn_text {
    color: #1f1f1f;
    padding-left: 40px;
}

.login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn .btn_text:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/tab_btn_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}


@media screen and (min-width:1025px) { /* hover 했을 때 */
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn:hover:before {
        background-color: #fff;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn:hover:before {
        background-color: #56677f;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn:hover .btn_text:after {
        display: none;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn:hover .btn_text:after {
        display: block;
        position: absolute;
        top: 7px;
        left: -24px;
        width: 16px;
        height: 16px;
        background-image: url(../images/btn_text_icon.png);
        background-repeat: no-repeat;
        background-position: center center;
        content: "";
    }
}


/* user_cts */
.login_user .login_user_wrap .user_cts{position: relative;}
.login_user .login_user_wrap .user_cts:before{ display: block; position: absolute; top: 0; left: 0; z-index: 4; width: 100%; height: 100%; background-color: #fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; content: '';}

.login_user .login_user_wrap .user_cts .user_cts_list{position: relative;}
.login_user .login_user_wrap .user_cts .user_cts_list:before{display: block; position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%; box-sizing: border-box; border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1); /* 다시 검토 */
    content: '';
} 

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /*********** 익스플로러 지원 *************/
    .login_user .login_user_wrap .user_cts:before,
    .login_user .login_user_wrap .user_cts .user_cts_list:before {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
} 

.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item {
    display: none;
    position: relative;
    z-index: 4;
    min-height: 500px;
    padding: 80px 50px;

}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item.active {
    display: block;
} 


.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item {
    display: block;
    position: relative;
    width: 100%;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item .form_input {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item .form_input .input_login {
    width: 100%;
    height: 56px;
    margin-bottom: 10px;
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'S-CoreDream';
    font-size: 18px;
    color: #777;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .input_login {
    padding-right: 55px;
}
/* 비밀번호 눈 아이콘 */
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .user_pas_eye {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    width: 40px;
    height: 40px;
    margin: 8px 0 0 0;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .user_pas_eye > i {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 27px;
    height: 23px;
    margin: auto;
    background: url(../images/pas_eye_off.png) 0 0 / 100% no-repeat;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .user_pas_eye.on > i {
    width: 25px;
    height: 20px;
    background-image: url(../images/pas_eye_on.png);
}
/* 비밀번호 눈 아이콘 끝 */ 

.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .form_submit {
    margin-top: 10px;
}

.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .form_submit .submit_wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .form_submit .submit_wrap .login_submit {
    width: 100%;
    background-color: #0c4da2;
    border: 1px solid #0c4da2;
    border-radius: 10px;
    font-family: 'S-CoreDream';
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    line-height: 56px;
}

.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login {
    margin: 25px 0;
    text-align: center;
    font-family: 'S-CoreDream';
    font-size: 16px;
    font-weight: 400;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login a {
    position: relative;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login a:nth-child(n + 2) {
    display: inline-block;
    padding-left: 42px;
}
.login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login a:nth-child(n + 2):before {
    display: block;
    position: absolute;
    top: 4px;
    left: 18px;
    width: 3px;
    height: 15px;
    background-image: url(../images/find_login.png);
    background-repeat: no-repeat;
    background-position: center center;
}

/* 간편인증 */
.link_login .link_log_wrap .link_log_btn {
    display: block;
    padding: 25px 20px 35px 20px;
    background-color: #edf4fe;
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}
.link_login .link_log_wrap .link_log_btn .link_title {
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'S-CoreDream';
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap span {
    display: block;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.15);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center center;
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.kakao {
    background-image: url(../images/log_kakao.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.kb {
    background-image: url(../images/log_kb.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.payco {
    background-image: url(../images/log_payco.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.pass {
    background-image: url(../images/log_pass.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.samsung {
    background-image: url(../images/log_samsung.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.naver {
    background-image: url(../images/log_naver.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.shinhan {
    background-image: url(../images/log_shinhan.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.toss {
    background-image: url(../images/log_toss.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.hana {
    background-image: url(../images/log_hana.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.nh {
    background-image: url(../images/log_nh.png);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.dream {
    background-image: url(../images/log_dream.jpg);
}
.link_login .link_log_wrap .link_log_btn .link_list_wrap .log_icon.banksalad {
    background-image: url(../images/log_banksalad.jpg);
}

/* 주의 사항 글 */
.login_notice {
    margin-top: 25px;
}
.login_notice .warning {
    position: relative;
    padding-left: 20px;
    font-family: 'S-CoreDream';
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    word-break: keep-all;
}

.login_notice .warning:before {
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(../images/warning_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.login_notice .warning .blue_line {
    line-height: 26px;
    color: #0c4da2;
    border-bottom: 1px solid #0c4da2;
}


@media screen and (max-width:800px) {
    
    .login_user .login_user_wrap {
        padding: 0 15px;
    }
}

@media screen and (max-width:640px) {

    .login_user {
        margin-top: 15px;
    }

    .login_user .login_user_wrap .user_tab .user_tab_list {
        width: 100%;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn {
        padding: 45px 0 15px 0;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn:before {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn .btn_text {
        padding-left: 25px;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item .user_tab_btn .btn_text {
        font-size: 16px;
    }
    .login_user .login_user_wrap .user_tab .user_tab_list .user_tab_item.active .user_tab_btn .btn_text:before {
        top: 3px;
        width: 20px;
        height: 20px;
    }

    .login_user .login_user_wrap .user_cts:before {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list:before {
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.1);
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item {
        padding: 35px 20px;
    }

    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item .form_input .input_login {
        height: 50px;
        font-size: 16px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .user_pas_eye>i {
        top: -3px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .user_cts_inner .form_item.password_type .form_input .user_pas_eye {
        margin: 7px 0 0 0;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .form_submit .submit_wrap .login_submit {
        font-size: 18px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login a:nth-child(n + 2) {
        padding-left: 30px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login a:nth-child(n + 2):before {
        top: 6px;
        left: 11px;
    }
    .login_user .login_user_wrap .user_cts .user_cts_list .user_cts_item .find_login {
        margin: 20px 0;
        font-size: 15px;
    }
    .link_login .link_log_wrap .link_log_btn {
        padding: 20px 15px;
    }
    .link_login .link_log_wrap .link_log_btn .link_title {
        margin-bottom: 15px;
        font-size: 18px;
    }
    .link_login .link_log_wrap .link_log_btn .link_list_wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .link_login .link_log_wrap .link_log_btn .link_list_wrap span {
        margin: 3px;
    }
    .login_notice {
        margin-top: 20px;
    }
    .login_notice .warning {
        font-size: 15px;
    }

} 


/* 02 본인인증 .html */

.login_user .login_user_wrap .login_group {
    margin-top: 60px;
    margin-bottom: 170px;
    padding: 80px 50px 75px 50px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1);
}
.login_user .login_user_wrap .login_group .title_user_group {
    text-align: center;
}
.login_user .login_user_wrap .login_group .title_user_group .title {
    font-family: 'HakgyoansimJiugaeR';
    font-size: 30px;
    font-weight: 400;
    color: #0c4da2;
    margin-top: 5px;
}
.login_user .login_user_wrap .login_group .title_user_group .sub_title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'S-CoreDream';
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: #444;
}

/* 휴대폰, 아이핀 인증 공통 */
.certified {
    display: flex;
    justify-content: center;
}
.certified .phone {
    margin-right: 10px;
}
.certified .phone,
.certified .ipin {
    width: 345px;
    max-height: 300px;
    padding: 50px 112px 60px 112px;
    background-color: #edf4fe;
    border-radius: 10px;
    text-align: center;
}

.certified .phone .phone_icon,
.certified .ipin .ipin_icon {
    display: flex;
    justify-content: center;
}

.certified .phone .phone_icon .ph_icon {
    display: block;
    width: 85px;
    height: 70px;
    background-image: url(../images/ph_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.certified .ipin .ipin_icon .ip_icon {
    display: block;
    width: 124px;
    height: 64px;
    margin-top: 5px;
    background-image: url(../images/ip_icon.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.certified .phone .cer_tit,
.certified .ipin .cer_tit {
    display: block;
    margin: 30px 0 35px 0;
    font-family: 'S-CoreDream';
    font-size: 20px;
    font-weight: 600;
    color: #000;
}
/* .certified .ipin .cer_tit {
    margin: 35px 0 35px 0;
} */

.certified .blue_btn {
    padding: 12px 25px;
    font-family: 'S-CoreDream';
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #0c4da2;
    border-radius: 10px;
}

